/*-------列表页------*/
.center{
	border:1px solid #C7C7C7;
	background-color:#ffffff;
	min-height:450px;}
	
.sider{
	width:160px;
	float:left;}	
/*h3{
	background-image: url("../images/Tit.png");
    background-repeat: no-repeat;
	background-color:#fff;
    color: #ffffff;
    font-size: 15px;
    height: 37px;
    left: -7px;
    line-height: 30px;
    position: relative;
    text-indent: 15px;
    top: -1px;
    width: 104px;}*/
h3{
	background-color: #fff;
    background-image: url("../images/Tit1.png");
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 15px;
    height: 52px;
    left: 22px;
    line-height: 50px;
    position: relative;
    text-indent: 30px;
    top: 10px;
    width: 128px;}
.sider ul {
    margin: 20px 0 0 19px;
    text-align: center;
    width: 128px;}
.sider ul li{
	border-bottom: 1px solid #ddd;
    height: 22px;
    line-height: 22px;
    margin: 0 auto;
    width: 100px;
	font-size:14px;}
.sider ul li a:link,.sider ul li a:visited{ color:#666;}
.sider ul li a:hover{ color:#000; text-decoration:none;}

.subject{
	background-image: url("../images/subject_line.gif");
    background-repeat: no-repeat;
    float: left;
	height:400px;
    padding: 25px 0 0 26px;
    width: 816px;}
.subject ul{
    padding: 0 6px;}
.subject ul li{
	border-bottom: 1px solid #f0f0f0;
    height: 35px;
    line-height: 35px;
    padding: 0 6px;}
.subject ul li a{
	 *+width:500px; 
	 height:30px; 
	 overflow:hidden; 
	 display: block; 
	 float:left;
	 text-decoration:none;}
.subject ul li:hover{
	background-color:#f7f7f7;}
.date{
	margin:0;}
.pages{
	padding: 20px 0;
    position: absolute;
    top: 595px;}
.pages a{ color:#666;}
.pages a:hover{ color:#000; text-decoration:none;}
	
/*-----内容页-----*/
.contitle{
	border-bottom: 1px solid #777777;
    color: #385CB9;
    font-size: 16px;
    height: 28px;
    line-height: 18px;
    margin: 10px 0;
    text-align: center;
    width: 800px;
	font-weight:bold;}
.date1{margin-right: 30px;}
.content{
	line-height: 22px;
    margin-top: 40px;
    padding: 0 10px;
    text-indent: 2em;}